{% extends 'base.html' %}

{% block content %}
    <div class='row'>
    	<div class='col-sm-6-sm-offset-3'>
    		<h2 class="text-align-center"><strong>Nuestra historia</strong></h2>
    		<p class="text-align-center">Es una historia muy muy larga, tienes tiempo? Te quedarías un rato para contarte?</p>
    		<p class="text-align-center">Bla bla bla bla bla bla...</p>
    		<p class="text-align-center">Bla bla bla bla bla bla...</p>
    		<p class="text-align-center">Bla bla bla bla bla bla...</p>
    		<p class="text-align-center">Bla bla bla bla bla bla...</p>
    		<p class="text-align-center">Bla bla bla bla bla bla...</p>
    		<p class="text-align-center">Bla bla bla bla bla bla...</p>
    		<p class="text-align-center">Bla bla bla bla bla bla...</p>
    	</div>
    </div>
	<!--head>
		<title>Hola :)</title>
		<h1>Página en mantenimiento </h1><h1><i class="fa fa-frown-o" aria-hidden="true"></i><h1>
	</head>
	<body>
	</body-->
{% endblock %}